:root {
  --green: #01a200;
  --gray-lightest: #f8f8f8;
  --gray-light: #979797;
  --gray-dark: #191B1D;
  --blue: #0A4B98;
  --red: #d91200;
  --orange: #EF7F1B;
  --blueDark: #0306be;
  --bodyTextColor: #707674;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "inter-regular";
  src: url("fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-medium";
  src: url("fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-bold";
  src: url("fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-extra-bold";
  src: url("fonts/Inter/static/Inter-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'inter-regular';
  color: var(--gray-dark);
  font-size: 14px;
}

.layout {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.375em #a2a2a229;
}

.container-lg {
  max-width: 1366px;
  margin: 0 auto;
  width: 90%;
}

.container-md {
  max-width: 1068px;
  margin: 0 auto;
  position: relative;
}

.container-sm {
  /* max-width: 1068px;
  margin: 0 auto;
  position: relative; */
}

a {
  color: inherit;
  text-decoration: none;
}

.banner-home {
  background-color: #333;
  height: auto;
  color: #fff;
  position: relative;

}

.banner-home img {
  width: 100%;
  height: 449px;

}

.banner-home h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -3%;
}

.banner-home h3 {
  color: #C6C6C6;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.banner-home .container-lg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ant-btn-primary {
  background-color: var(--orange);
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px
}

@media (min-width: 476px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 476px) {
  .container {
    width: 100%
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1340px;
    max-width: 100%
  }
}


.article-box {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  /* border: 1px solid red; */
}

.article-box:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.article-box .img-box {
  /* width: 100%;
  height: 300px;
  background-color: #eee; */
  text-align: center;
}

.article-date-time {
  display: flex;
  justify-content: space-between;
  color: #85898E;
  font-size: 12px;
  margin: 10px 0;
}

.article-box .title {
  font-family: 'inter-bold';
  font-size: 18px;
  margin: 8px 0;
}

.article-box .desc {
  font-size: 16px;
  color: #667085;
  margin-bottom: 20px;
}

.article-box .actions {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: #85898E;
  font-size: 20px;

}

.article-box .actions span {
  display: inline-block;
  margin-right: 15px;

}

.section {
  padding: 90px 0;
}

.bg-gray-100 {
  background-color: #F3F6FA;
}

.bg-white {
  background-color: #fff;
}

.hide {
  display: none;
}

h3.title {
  font-size: 24px;
  font-family: 'inter-bold';
  line-height: 48px;
  color: #3E4247;
  margin-bottom: 32px;

}

.map-title {
  font-family: 'inter-bold';
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #3E4247;
  margin-top: 48px;

}

.search-map {}

.search-map label {
  color: #5B6067 !important;
  font-size: 14px !important;
  font-family: 'inter-medium';
}

.search-map {
  /* display: grid; */
  /* justify-content: space-between; */
  /* align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* width: 100%; */
  /* border:1px solid red; */
}

.search-map .ant-form-item-row {
  /* width: 20%; */
}

.ant-layout-header {
  background-color: #fff !important;
  line-height: 80px !important;
  height: 80px !important;
  box-shadow: 0px 2px 7px 0px #85898E33;

}

.ant-layout-header .menu li .ant-menu-title-content{
  font-family: 'inter-bold';
  
}


.ant-layout-footer {
  background-color: #fff !important;
  padding: 66px 0px !important;
  border-top: 1px solid #D0D5DD;
  border-bottom: 1px solid #D0D5DD;
}

.footer-menu {
  margin: 0px;
  padding: 20px 0px;
}

.footer-menu li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.footer-menu li a {
  font-size: 14px;
  color: #4B5768;
  line-height: 17px;
}


.mega-menu h3 {
  margin-bottom: 30px;
}

.mega-menu ul {
  margin: 0px;
  padding: 0px;
}

.mega-menu ul li {
  list-style: none;
  padding-bottom: 15px;
}

.pagination{
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}

.login-box{
  background-color: #fff;
  border-radius: 8px;
  padding:40px 32px;
  width:500px;
  margin: 0 auto;
}

.login-box .heading{
  font-size: 32px;
  font-family: 'inter-bold';
}
:where(.css-dev-only-do-not-override-ixblex).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-ixblex).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected{
  color:var(--orange)
}

:where(.css-dev-only-do-not-override-ixblex).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after, :where(.css-dev-only-do-not-override-ixblex).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after{
  border-bottom-color:var(--orange)
}


:where(.css-dev-only-do-not-override-ixblex).ant-menu-horizontal{
  border: none;
}

.ant-layout-content{
  margin-top: 80px;
}